@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  /* Define light and dark mode colors */
  :root {
    --text-color: rgb(23 23 23 / var(--tw-text-opacity, 1)); /* Default text color for light mode */
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .opacity-animate {
    animation: opacity-animate 2s ease-in-out;
  }

  .dark {
    --text-color: rgb(250 250 250 / var(--tw-text-opacity, 1)); /* Text color for dark mode */
  }
}

@keyframes opacity-animate {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
