@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Define light and dark mode colors */
  :root {
    --text-color--high: rgb(23 23 23 / var(--tw-text-opacity, 1)); /* Default text color for light mode */
    --text-color--low: rgb(100 100 100 / var(--tw-text-opacity, 1));
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .opacity-animate {
    animation: opacity-animate 2s ease-in-out;
  }

  .dark {
    --text-color--high: rgb(230 230 230 / var(--tw-text-opacity, 1)); /* Text color for dark mode */
    --text-color--low: rgb(186 186 186 / var(--tw-text-opacity, 1));
  }
}

@layer components {
  .text-stroke {
    -webkit-text-stroke: 0.5px black;
  }

  .text-stroke-green {
    -webkit-text-stroke: 0.5px rgb(0, 255, 0);
  }
}

@keyframes opacity-animate {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
