@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .opacity-animate {
    animation: opacity-animate 2s ease-in-out;
  }
}

@keyframes opacity-animate {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
