/* List styles */
.markdown ul,
.markdown ol {
  padding: 0 1rem;
  margin: 1.25rem 1rem 1.25rem 0.4rem;
  color: var(--text-color--high);
}

.markdown li {
  list-style: circle;
  font-size: 0.8rem;
  color: var(--text-color--high);
  word-break: keep-all;
  text-wrap: pretty;
  margin-top: 0.4em;
  margin-bottom: 0.4em;
}

.markdown strong {
  font-weight: 600;
  color: var(--text-color--high);
}

.markdown p {
  word-break: keep-all;
  text-wrap: stable;
  font-size: 0.8rem;
  margin-top: 0.9em;
  margin-bottom: 0.9em;
}

/* Heading styles */
.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  line-height: 1.1;
  margin-top: 2.5rem;
  margin-bottom: 1rem;
  text-wrap: pretty;
  color: var(--text-color--high);
}

.markdown h1,
.markdown h2 {
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}

.markdown h1 {
  font-size: 1.4rem;
  font-weight: 700;
}

.markdown h2 {
  font-size: 1.2rem;
  font-weight: 600;
}

.markdown h3 {
  font-size: 1.1rem;
  font-weight: 500;
}

.markdown h4,
.markdown h5,
.markdown h6 {
  font-size: 1.1rem;
  font-weight: 400;
}

.markdown mark {
  background-color: #faf594;
  border-radius: 0.4rem;
  box-decoration-break: clone;
  padding: 0.1rem 0.3rem;
}

.markdown blockquote {
  border-left: 3px solid var(--text-color--low);
  margin: 1.5rem 0;
  padding-left: 1rem;
  color: var(--text-color--low);
}

.markdown hr {
  border: none;
  border-top: 1px solid var(--text-color--low);
  margin: 2rem 0;
}

.markdown code {
  font-size: 0.8rem;
}

.markdown pre {
  margin-top: 0.9rem;
  margin-bottom: 0.9rem;
  font-size: 0.8rem;
}

.markdown table {
  border-collapse: collapse;
}

.markdown th,
.markdown td {
  padding: 6px 13px;
  border: 1px solid var(--text-color--low);
  font-size: 0.8rem;
}
